<!DOCTYPE html>
<html>
<head>
  <title>Logcat viewer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app" class="container is-size-7">

    <div class="box is-danger" v-if="lines.connectionClosed">
      Connection IS Closed
    </div>

    <div class="level box" style="margin-top: 10px">
      <div class="level-left">

        <div class="level-item">
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label is-small">Query</label>
            </div>
            <div class="field-body">
              <div class="field">
                <input v-model="query" class="input is-small">
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label is-small">Exclude</label>
            </div>
            <div class="field-body">
              <div class="field">
                <input v-model="exclude" class="input is-small">
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" @click="onPauseClicked" v-model="isPaused">
              Pause
            </label>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" v-model="isCollapsed">
              Collapse
            </label>
          </div>
        </div>

        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input is-small" v-model="savedListName" placeholder="List name">
            </div>
            <div class="control">
              <a class="button is-small" @click="saveList">
                Save
              </a>
            </div>
          </div>
        </div>

        <template v-if="!loadedList">
          <div class="level-item">
            <a class="button is-small" @click="clearLogs">
              Clear Logs
            </a>
          </div>
        </template>

        <template v-if="loadedList">
          <div class="level-item">
            <a class="button is-small" @click="closeLoadedList">
              Close Loaded list
            </a>
          </div>
        </template>


      </div>
    </div>

    <div class="container">
      <div style="height: 800px; overflow-y: scroll">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>
                Time
              </th>
              <th>
                Thread
              </th>
              <th>
                Tag
              </th>
              <th>
                Message
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-bind:class="{ 'is-selected': (line === selected) }" v-on:click="selectLine(line)" v-for="line in linesComputed">
              <td style="max-width: 60px; overflow: hidden">{{ line.time }}</td><td style="max-width: 20px">{{ line.tid }}</td>
              <td v-bind:class="{ 'collapsedCellTag': isCollapsed }">{{ line.tag }}</td>
              <td v-bind:class="{ 'collapsedCellMessage': isCollapsed }">
                {{ line.message}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="columns" style="margin-top: 10px">
      <div class="column">
        <div class="panel">
          <p class="panel-heading is-small">
            Saved lists
            <a class="button is-small is-pulled-right" @click="clearSavedLists">
              Clear
            </a>
          </p>
          <div>

          </div>
          <a @click="openList(list)" v-for="(list, name) in savedLists" class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            {{ name }}
          </a>
        </div>
      </div>

      <div v-if="selected !== undefined" class="column is-four-fifths">
        <div class="box">
          <div class="content" style="overflow-y: scroll; height: 350px">
            <table>
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Time</th>
                  <th>Thread</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{selected.tag}}</td>
                  <td>{{selected.time}}</td>
                  <td>{{selected.tid}}</td>
                </tr>
              </tbody>
            </table>
            <h4>Message</h4>
            <p>{{selected.message}}</p>
            <h4>Stack</h4>
            <ul>
              <li v-for="stackLine in selected.formattedStack">
                <a v-if="stackLine.link" target="_blank" v-bind:href="stackLine.link">{{ stackLine.text }}</a>
                <p v-else>{{stackLine.text}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script>
    function getModuleUrl(path) {
      const moduleUrls = {
        android: {
          app: 'https://github.sc-corp.net/Snapchat/android/blob/master/snapchat/app/src/main/java',
        },
        map: 'https://github.sc-corp.net/Snapchat/android/blob/master/snapchat/map/src/main/java',
      }
      let module = path.split('.');

      let i = 2;
      let halfPath = moduleUrls;
      while (true) {
        if (typeof halfPath === 'string') {
          return halfPath;
        }
        if (!halfPath) {
          return null;
        }
        halfPath = halfPath[module[i]];
        i++;
      }
    }

    function formatStack(stack) {
      const lines = stack.split('\n').slice(2);

      return lines.map((line) => {
        const regEx = /(com\.snapchat\.[\w\d\.]+)(\$[\w\d\.]+)?\([\w\d]+\.([\w\d]+):(\d+)\)/g;
        const matches = regEx.exec(line);
        if (!matches) {
          return {text: line};
        }

        let path = matches[1];
        const moduleUrl = getModuleUrl(path);
        if (!matches[2]) { // Has no $runnablepath in the string so remove the function name
          path = path.substr(0, path.lastIndexOf('.'));
        }
        path = path.replace(/\./g, '/');

        const lineNumber = matches[4];
        const fileExtension = matches[3];
        const link = moduleUrl && `${moduleUrl}/${path}.${fileExtension}#L${lineNumber}`;
        return {text: line, link: link};
      });
    }

    let lines = {data: [], isPaused: false, connectionClosed: false};
    let cleared = [];
    let savedLists = localStorage.getItem('savedLists');
    if (!savedLists) {
      savedLists = {};
    } else {
      try {
        savedLists = JSON.parse(savedLists);
      } catch (e) {
        savedLists = {};
      }
    }

    var app = new Vue({
      el: '#app',
      data: {
        lines: lines,
        query: '',
        cleared: cleared,
        selected: {},
        isPaused: false,
        savedLists: savedLists,
        savedListName: '',
        loadedList: null,
        isCollapsed: true,
        exclude: '',
      },
      methods: {
        selectLine(line) {
          this.selected = line;
          this.selected.formattedStack = line.stack && formatStack(line.stack);
        },
        onPauseClicked() {
          this.isPaused = !this.isPaused;
          this.lines.isPaused = this.isPaused;
        },
        openList(list) {
          this.loadedList = list;
        },
        closeLoadedList() {
          this.loadedList = null;
        },
        clearSavedLists() {
          this.savedLists = {};
          localStorage.setItem('savedLists', "{}");
        },
        clearLogs() {
          this.lines.data = [];
        },
        saveList() {
          const name = this.savedListName;
          this.savedLists[name] = this.linesComputed;
          const str = JSON.stringify(this.savedLists);
          localStorage.setItem('savedLists', str);
          this.$forceUpdate();
        }
      },
      computed: {
        linesComputed() {
          var self = this;
          let list = self.lines.data;
          if (self.loadedList) {
            list = self.loadedList;
          }
          const filtered = list.filter(function(line) {
            if (!line.message) {
              return false;
            }
            const iMessage = line.message.toLowerCase();
            const iTag = line.tag.toLowerCase();
            const iQuery = self.query.toLowerCase();
            const iExclude = self.exclude.toLowerCase();
            const doesMatch = iMessage.search(iQuery) > -1 || iTag.search(iQuery) > -1;
            const doesExclude = iExclude === '' ? false : iMessage.search(iExclude) > -1 || iTag.search(iExclude) > -1;

            return doesMatch && !doesExclude;
          });

          if (self.loadedList) { // Should change the saveList instead of this
            return filtered.slice(-1000);
          } else {
            return filtered.slice(-1000).reverse();
          }
        },
      },
    })

    window.WebSocket = window.WebSocket || window.MozWebSocket;

    var connection = new WebSocket('ws://127.0.0.1:3000');

    connection.onopen = function () {
      // connection is opened and ready to use
    };

    connection.onclose = function (error) {
      lines.connectionClosed = true;
    };

    connection.onerror = function (error) {
      lines.connectionClosed = true;
    };

    connection.onmessage = function (message) {
      if (lines.isPaused) {
        return;
      }

      if (lines.data.length > 50000) {
        lines.data = lines.data.slice(-10000);
        cleared.push(true);
      }
      try {
        var json = JSON.parse(message.data);
        lines.data.push.apply(lines.data, json);
      } catch (e) {
        console.log('This doesn\'t look like a valid JSON: ',
            message.data);
        return;
      }
    };
  </script>
  <style type="text/css">
  .collapsedCellMessage {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
  }

  .collapsedCellTag {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
  }
  </style>
</body>
</html>
